<ion-view style="background-color: #52BDF2;">
  <ion-content>
    <div class="container">
      <table>
        <tr>

      <td>
        <div class="left">
      <button class="button button-positive" id="tabb" ng-click="goToReport()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
        Report
      </button><br><br>
        <button class="button button-positive" id="tabb" ng-click="goToSettings()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
          Settings
      </button><br><br>
      <button class="button button-positive" id="tabb" ng-click="goToSubscriptions()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
        Subscriptions
      </button><br>
      </div>
    </td>

    <td>
    <div class="contain1">
      <h5>Hi Boss please add your child details</h5><br><br>
      <center>
        <input type="image" src="img/add.png" alt="" width="220px" height="220px" ng-click="addChild()">
      </center>
    </div>
  </td>
  </tr>
</table>
  </div>


  </ion-content>
</ion-view>
