<ion-view style="background-color: #52BDF2;">
  <ion-content>
    <div class="contain">
      <center>
    <button class="button button-positive" ng-click="goToLogin()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">
      Login
    </button><br><br><br>
    <button class="button button-positive" ng-click="goToSignup()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">
      Signup
    </button>
  </center>
  </div>
  </ion-content>
</ion-view>
