<ion-view style="background-color: #52BDF2;">
  <ion-content>
    <div class="contain">
      <center>
    <button class="button button-positive" ng-click="goToSettings()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">
     settings
    </button><br><br><br>
    <button class="button button-positive" ng-click="goToSubscriptions()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">
      Subscription
    </button><br><br><br>
    <button class="button button-positive" ng-click="goToAddChild()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">
      addChild
    </button>
  </center>
  </div>
  </ion-content>
</ion-view>
