<ion-view style="background-color: #52BDF2;">
  <ion-content>
    <div class="container">
      <table>
        <tr>
          <td>
            <div class="left">
          <button class="button button-positive" id="tabb" ng-click="goToSettings()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
            Settings
          </button><br><br>
          <button class="button button-positive" id="tabb" ng-click="goToAddChild()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
            Add Child
          </button><br><br>
          <button class="button button-positive" id="tabb" ng-click="goToSubscriptions()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
            Subscriptions
          </button><br>
          <br>
          <button class="button button-positive" id="tabb" ng-click="goToDelete()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
            Delete Child
          </button><br>
          </div>
        </td>

    <td>
    <div class="contain1">
      <label id="space">From</label>
      <input type="text" id="space">
      <label id="space">To</label>
      <input type="text">
      <br><br>
      <h5>Hi Boss your performance report for Axoninfinity Mathcore</h5><br><br>
      <!--<label style="float:right;padding-right:15px;">Achievements</label><br><br>
      <div style="width:150px;height:100px;border:1px solid #000;">Total correct answer</div>-->
      <table>
        <tr>
          <th>

          </th>
          <th>
            Achievements
          </th>
        </tr>
        <tr>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total did answer</div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
          <td>
            <div style="width:100px;height:80px;border:1px solid #000;">Total correct answer</div>
          </td>
        </tr>
      </table>
    </div>
  </td>
  </tr>
</table>
  </div>
  </ion-content>
</ion-view>
