<ion-view style="background-color: #52BDF2;">
  <ion-content>
    <div class="signupForm">
      <table>
        <tbody>
          <tr>
            <td>User name :</td>
            <td><input type="text" ng-model="userDetails.userName"></td>
          </tr>
          <tr>
            <td>Full name :</td>
            <td><input type="text" ng-model="userDetails.fullName"></td>
          </tr>
          <tr>
            <td>Email ID :</td>
            <td><input type="text" ng-model="userDetails.email"></td>
          </tr>
          <tr>
            <td>Address :</td>
            <td><input type="text" ng-model="userDetails.address"></td>
          </tr>
          <tr>
            <td>Mobile number :</td>
            <td><input type="text" ng-model="userDetails.mobile"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="accept">
      <input type="checkbox" ng-model="filter.blue">I accept
    </div>
    <div class="backnext">
      <button class="button button-positive" id="butt" ng-click="goBack()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">Back</button><br><br>
      <button class="button button-positive" id="butt" ng-click="addUser()" style="border: 1px solid white;background: url(img/background.png) no-repeat;width:120px;">Next</button>
    </div>
  </ion-content>
</ion-view>
