<ion-view style="background-color: #52BDF2;">
  <ion-content>
    <div class="plans">
      <center>
      <h3>Subscription Plans</h3>
      </center>
      <hr>
      <br>
      <div class="subs">
        <table width="100%">
          <tbody>
            <tr>
              <td><input type="radio" id="plan1" name="subscriptions" value="plan1"></td>
              <td>Plane 1:</td>
              <td>1 Month</td>
              <td>Price (5$)</td>
            </tr>
            <tr>
              <td><input type="radio" id="plan2" name="subscriptions" value="plan2"></td>
              <td>Plane 2:</td>
              <td>3 Months</td>
              <td>Price (15$)</td>
            </tr>
            <tr>
              <td><input type="radio" id="plan3" name="subscriptions" value="plan3"></td>
              <td>Plane 3:</td>
              <td>12 Months</td>
              <td>Price (50$)</td>
            </tr>
          </tbody>
        </table><br><br>
      </div>
      <center>
      <h3>Credit Card Information</h3>
      </center>
      <hr>
      <div class="subs">
      <table width="100%">
        <tbody>
          <tr>
            <td>Card Number</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>CVV</td>
            <td><input type="text" style="width:50px;border:1px solid black"></td>
          </tr>
          <tr>
            <td>Expiry Date</td>
                <td>Month<input type="text" style="width:50px;border:1px solid black"></td><td>Year<input type="text" style="width:50px;border:1px solid black;"></td>
         </tr>
          <tr>
            <td>Card Holder Name</td>
            <td><input type="text"></td>
          </tr>
        </tbody>
      </table>
    </div><br>
      <center>
        <button class="button button-positive" ng-click="addSubscription()" style="border: 1px solid white;background: url(img/background.png) no-repeat;">
          Submit
        </button>
      </center>
    </div>
  </ion-content>
</ion-view>
